.login {
  padding: 6% 26%;
  height: 500px;
  background-color: #f7f7f7;
}

.login-form {
  border: 1px solid gray;
  border-radius: 5px;
  height: 100%;
  padding: 10%;
}

.login-from > h2 {
  margin: 0 0 100px 0;
}

input {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 3px;
  padding-left: 14px;
}

.login-btn {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  background: rgb(240, 185, 11);
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: white;
}