@charset "UTF-8";

.headerDiv {
  background: black;
  position: relative;
}
.width {
  position: relative;
  display: flex;
}
.exchangeQuotes {
  height: 80%;
  width: 824px;
}
table { 
  height: 100%;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
}
td, th {  border: 0 none; height: 30px; }
			
th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}
		
td { 
  background: #FAFAFA; 
  text-align: center; 
  border-bottom: 1px solid #bfbc53;
}

/* Zebra Stripe Rows */
tr td { background: none; }

@media (max-width: 380px) {
  .liveUSD {display: none;}
  .korPre {display: none;}
  .wrap {width:auto;}
}



.top10 {
  border: 1px solid;
  padding: 8px;
  width: 203px;
  margin: 0px 0px 0px 34px;
  text-align: left;
}
.top10 span {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}
ol {
  margin-left: 16px;
}
ol li {
  margin: 6px 0px 3px 0;
}